<!-- <div class="header-contaner"> -->
  <div class="container-fluid sticky top-0 left-0 z-50" id="header-top">
    <div class="">
      <img src="/assets/Logo/EFPlogo.jpg" alt="">
    </div>

    <div class="w-full ">    
      <nav *ngIf="displaymenu" >
        <div class="navbar">
        <div class="nav-links ">
            <ul class="links flex pl-28">
               <li> <a routerLink="/admin"  *ngIf="role === 'admin'">ዳሽቦርድ </a></li>
               <li> <a routerLink="/dashboard"  *ngIf="role === 'mangment'">ዳሽቦርድ </a></li>
                <li *ngIf="role === 'mangment'">
            <a href="#">ንብረት</a>
            <i class='bx bx-chevron-down arrow html-arrow'></i>
            <ul class="html-sub-menu html-sub">
                <li class="fixed">
                  <a href="#">ቋሚ ንብረት</a>
                  <i class='bx bx-chevron-right arrow fixed-arrow'></i>
                  <ul class="fixed-submenu">
                    <li><a routerLink="/fixed/import">መመዝገብ</a></li>
                    <li><a routerLink="/fixed/transferpage">ማስተላለፍ</a></li>
                    <li><a href="fixed/withdroal">ወጪ</a></li> 
                    <li><a href="#">ማስወገድ</a></li> 
                </ul>
                </li>
                <li><a routerLink="/fixed/addMaterial">አላቂ ንብረት</a></li>
            </ul>
    
        </li>
        
               <li *ngIf="role === 'mangment'">
                <a href="#" >የጦር መሣሪያ</a>
                <i class='bx bx-chevron-down arrow ja-arrow' ></i>
                <ul class="html-sub-menu java-sub">
                    <li><a routerLink="/admin/userReg">መመዝገብ</a></li>
                    <li><a href="#">ማስተላለፍ</a></li>
                    <li><a href="#">ማስወገድ</a></li>
                    <!-- <li><a href="#">More </a>
                        <i class='bx bx-chevron-right arrow more-arrow'></i>
                    </li> -->
                </ul>
            
            </li>
              <li>  
                <a routerLink="/home"  *ngIf="role === 'mangment'" >
                  ሪፖርት</a>
            </li>
    
              <li > 
                 <!-- <a href="#">ተጨማሪ መረጃ</a> ግንኙነት -->
                 <a routerLink="contact"> ግንኙነት</a>
                </li>
                <li > 
                  <a routerLink="fixed/order" *ngIf="role === 'user'">ትዕዛዝ</a>
                 </li>
                <div class="logout">
                  <a href=""><h1>{{fullName}}</h1></a>
                  <a  style="float: right;" class="menulink" (click)="logout()">ይዝጉ</a>
                </div>
            </ul>
           
        </div>
       
        
        </div>
    </nav>
    
    </div>
    
  </div>
