/* 
.container{
    align-items: center;
    
}
ul{
    margin-left: 60px;
}
#footer-bottom{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
#footer {

    background-color: #0c2a4c;
    

}
#footer #footer-top {
    background: #083a00;
    padding: 5px 0;
}
#footer #footer-top i {
    margin: 7px 32px 0 0;
    float: left;
}

#footer #footer-bottom {
    padding-top: 20px;
    padding-bottom: 30px;
}
#footer #footer-bottom h5 {
    font-size: 13px;
    color: #747474;
    font-weight: 700;
}
#footer #footer-bottom ul {
   
    margin: 0;
    padding: 0;
}

#footer #footer-bottom ul li {
    list-style: none;
}
#footer #footer-bottom ul li a:hover {
    background-color: #fff;
    color: black;
    border-radius: 4px;
    text-decoration: none;
}

#footer #footer-copyright {
    padding-top: 10px;
    padding-bottom: 10px;
   
    color: #747474;
    border-top: 1px solid #525865;
}
li{
    list-style: none;
    margin-bottom: 10px;
    font-size: 13px;
    font-family: serif;
}
a{
    color: #FFF;
    text-decoration: none;
}
span{
    color: #FFF;
}
span:hover{
    background-color: #104599;
    border-radius: 4px;
} */

.footer-color{
  background-color: #0c2a4c;
}