<footer id="footer" class="footer-color text-white  py-10 font-axiforma ">


  <div class="container flex flex-col justify-center items-center" id="footer-bottom ">

    <div class=" flex space-x-20 ">
      <div class="col-xs-3">
        <h5>QUICK LINKS</h5>
        <ul>
          <li class="active"><a href="/">HOMEPAGE</a></li>
          <li><a href="">vacancy</a></li>
          <li><a href="">Event</a></li>
          <li><a href="">news</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5>Rules</h5>
        <ul>
          <li>
            <a href="#" class="fmenu">About Us</a>
          </li>
          <li><a href="javascript:;" class="fmenu">FAQ</a> </li>
          <li><a href="javascript:;" class="fmenu">Live Meeting</a></li>
          <li><a href="javascript:;" class="fmenu">Contact Us</a> </li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5>Rules</h5>
        <ul>
          <li>
            <a href="#" class="fmenu">About Us</a>
          </li>
          <li><a href="javascript:;" class="fmenu">FAQ</a> </li>
          <li><a href="javascript:;" class="fmenu">Live Meeting</a></li>
          <li><a href="javascript:;" class="fmenu">Contact Us</a> </li>
        </ul>
      </div>

      <div class="col-xs-3">
        <h5>FOLLOW US</h5>
        <ul>
          <li><a href="#"><i class='bx bxl-telegram'></i></a></li>
          <li><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
          <li><a href="#"><i class='bx bxl-youtube'></i></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container  flex flex-row justify-center items-center mt-10" id="footer-copyright">
    <div class="row no-margin">

      <div class="col-xs-6 border-t border-gray-400 ">
        Copyright 2015 የኢትዮጵያ ፌዴራል ፖሊስ - All rights reserved
       </div>
      <!-- <div class="col-xs-auto editby" style="float:right;">
        <p>Devloped by<span><a href="#"> Andy & Sim</a></span></p>
      </div> -->
    </div>
  </div>
</footer>
