<footer id="footer" class="footer-color text-white  font-axiforma ">
  <!-- <div class="container flex flex-col justify-center items-center" id="footer-bottom ">
    <div class=" flex space-x-20 ">
      <div class="col-xs-3">
        <h5>QUICK LINKS</h5>
        <ul>
          <li class="active"><a href="/">HOMEPAGE</a></li>
          <li><a href="">vacancy</a></li>
          <li><a href="">Event</a></li>
          <li><a href="">news</a></li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5>Rules</h5>
        <ul>
          <li>
            <a href="#" class="fmenu">About Us</a>
          </li>
          <li><a href="javascript:;" class="fmenu">FAQ</a> </li>
          <li><a href="javascript:;" class="fmenu">Live Meeting</a></li>
          <li><a href="javascript:;" class="fmenu">Contact Us</a> </li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5>Rules</h5>
        <ul>
          <li>
            <a href="#" class="fmenu">About Us</a>
          </li>
          <li><a href="javascript:;" class="fmenu">FAQ</a> </li>
          <li><a href="javascript:;" class="fmenu">Live Meeting</a></li>
          <li><a href="javascript:;" class="fmenu">Contact Us</a> </li>
        </ul>
      </div>
      <div class="col-xs-3">
        <h5>FOLLOW US</h5>
        <ul>
          <li><a href="#"><i class='bx bxl-telegram'></i></a></li>
          <li><a href="#"><i class='bx bxl-facebook-circle'></i></a></li>
          <li><a href="#"><i class='bx bxl-youtube'></i></a></li>
        </ul>
      </div>
    </div>
  </div> -->
  <footer class="bg-gray-200 text-gray-700 h-16 pb-0  mt-10">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center px-4">
    <div class="text-center md:text-center text-sm  w-full pt-8 ">
      © 2015 የኢትዮጵያ ፌዴራል ፖሊስ – All rights reserved
    </div>

    <!-- Optional Developer Credit -->
    <!-- 
    <div class="text-sm text-gray-600 mt-2 md:mt-0">
      Developed by <a href="#" class="text-blue-600 hover:underline">Andy & Sim</a>
    </div> 
    -->
  </div>
</footer>

</footer>
