<div class="nav-items pb-50">
  <!-- <div class="nav-item">
    <span>ዳሽ-ቦርድ</span>
  </div> -->
  <div class="nav-item">
 
    <span routerLink="/admin/userReg">Add users</span>
  </div>
  <div class="nav-item">
 
    <span routerLink="/admin/userlist">View Userd</span>
  </div>
  <div class="nav-item">
    <span routerLink="/admin/employeReg"> Add employee</span>
  </div>
  <div class="nav-item">
    <span routerLink="/admin/employelist"> View employee</span>
  </div>
  <div class="nav-item">
   
    <span>ሪፖርት</span>
  </div>
  <div class="nav-item">
    <!-- <fa-icon [icon]="faHand"></fa-icon> -->
    <span></span>
  </div>
</div>

