<div class="h-[500px]">
  <section class=" pt-10">
    <div class="example-button-row pl-60">
      <button mat-raised-button routerLink="/fixed/emp">ለሰራተኛ  ወጭ ያድርጉ</button>
      <button mat-raised-button  routerLink="admin/employeReg">ለስራክፍል ወጭ ያድርጉ</button>
      <!-- <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button> -->
      
    </div>
  </section>
  <section>
    <p class=" pl-60 pt-20">ንብረቶች ወጪ ሲደረጉ ለለሰራተኛ ወይም ሊሆን ይችላል<br> ስለዚህ ለሰራተኛ ወጪ ለማድረግ ከላይ <span class="text-blue-700">ለሰራተኛ  ወጭ ያድርጉ</span> የሚለውን ሊንክ 
      ይጫኑ ፤ <br>ለስራክፍል ወጪለማድረግ <span class="text-blue-700 :underline">ለስራክፍል ወጭ ያድርጉ</span> የሚለውን ሊንክ 
      ይጫኑ:: </p>
  </section>
 
</div>