:host{
  display: block;
  padding: 2rem 3rem ;
background-color: #fff;
 
}

mat-form-field {
  padding-top: 30px;
  width: 300px;
  margin: 0 auto;
  display: block;
  transform: scale(1.3);
}
mat-card{
  width: max-content;
  margin-bottom: 1rem;
  mat-card-content{
      font-size: 1.5rem;
  }
}

mat-accordion{

  mat-panel-title{
      font-size: 1.4rem;
      letter-spacing: 1px;
  }
  mat-panel-description{
letter-spacing: 1px;
font-style: italic;
  }
}
table{
  width: 100%;
  border: 1px solid rgba(62, 15, 129, 0.1);

  .mat-cell,
  .mat-header-cell{
font-size: 1.2rem;
  }

}