
<mat-card>
    <mat-card-content>
<div class="pb-28">
  <mat-form-field  >
    <mat-label class="tex-blue-950">Search  </mat-label>
    <input matInput (keyup)="Filterchange($event)" placeholder="Enter the text">
    <button mat-icon-button matSuffix>
        <mat-icon class="tex-blue-950">search</mat-icon>
    </button>
</mat-form-field>
  <mat-card>
    <mat-card-content>
        <div>
        <b>የንብረቶች ብዛት</b>
        </div>
       
    </mat-card-content>
</mat-card>
<mat-accordion multi="true" >
  <mat-expansion-panel expanded >
      <mat-expansion-panel-header>
          <mat-panel-title><b>ምድብ</b></mat-panel-title>
          <mat-panel-description><b>መጋዘን.ቁ</b> </mat-panel-description>
      </mat-expansion-panel-header>

  <table class="mat-elevation-z8" mat-table matSort [dataSource]="productdata" >
    <ng-container matColumnDef="የእቃው ስም">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>የእቃው ስም</b></th>
      <td mat-cell *matCellDef="let element">{{element.productName}}</td>
  </ng-container>
      <ng-container matColumnDef="ሴሪያ.ቁ">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>ሴሪያ.ቁ</b></th>
          <td mat-cell *matCellDef="let element">{{element.productCode}}</td>
      </ng-container>
     
      <ng-container matColumnDef="ሞደል">
          <th mat-header-cell *matHeaderCellDef> <b>ሞደል</b></th>
          <td mat-cell *matCellDef="let element">{{element.productModel}}</td>
      </ng-container>

      <ng-container matColumnDef="ብዛት">
          <th mat-header-cell *matHeaderCellDef> <b>ብዛት</b></th>
          <td mat-cell *matCellDef="let element">{{element.qty}}</td>
      </ng-container>
      <ng-container matColumnDef="የአንዱ ዋጋ">
        <th mat-header-cell *matHeaderCellDef> <b>የአንዱ ዋጋ</b></th>
        <td mat-cell *matCellDef="let element">{{element.salesPrice}} ETB</td>
    </ng-container>
    <ng-container matColumnDef="አጠቃላይ ዋጋ">
      <th mat-header-cell *matHeaderCellDef> <b>አጠቃላይ ዋጋ</b></th>
      <td mat-cell *matCellDef="let element">{{element.total}} ETB</td>
  </ng-container>
<ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef style="width:15%"> Action</th>
          <td mat-cell *matCellDef="let element">
              <a mat-raised-button color="primary" (click)="EditProduct(element.code)" >Edit</a> |
              <a mat-raised-button color="accent" >Delete</a>
          </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
      
  </table>
</mat-expansion-panel>
</mat-accordion>

</div>
<br>
<mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

</mat-card-footer>
</mat-card-content>
</mat-card>
