<div class="all ">
    <mat-toolbar class="flex justify-end bg-white w-full">
        <button class="btn-dialog-close flex justify-center items-center" mat-stroked-button (click)="onclose()" tabindex="-1">
            <mat-icon >close</mat-icon>
        </button>
      </mat-toolbar>
  <form class="container  bg-white w-full " [formGroup]="withdroalform" (ngSubmit)="SaveInvoice()" >
 
    <div class="card items-center justify-center  ">
        <div class="justify-center .m-24 items-center ml-20 mb-3"><h3 >ለሰራተኛ  ወጭ ያድርጉ</h3></div>
  
        <div class="card-body items-center justify-center">
          
            <table>
                <tr class="flex grid-cols-2 mb-2">
                    <td class="w-6/12"> <label >ገቢ የተደረገበት ቀን</label></td>
                    <td class="w-6/12"><input type="date" formControlName="invoiceDate"class=" form-control outline-none border px-3 py-1 bg-gray-200 w-48 ">                        </td>
                </tr>
                    <tr class="flex grid-cols-2 mb-2">
                        <td class="w-6/12"><label >የንብረቱ ሴሪያል.ቁ</label></td>
                        <td class="w-6/12"> <input placeholder=" " formControlName="productCode" class="form-control outline-none border px-3 py-1 bg-gray-50">
                        </td>
                    </tr>
                    <tr class="flex grid-cols-2 mb-2">
                        <td class="w-6/12">   <label >ብዛት</label></td>
                        <td class="w-6/12">  <input formControlName="quantity" placeholder="" class="form-control outline-none border px-3 py-1 bg-gray-50">                        </td>
                    </tr>
                    <tr class="flex grid-cols-2 ">
                        <td class="w-6/12">   <label >  የሰራተኛው መለያ.ቁ</label></td>
                        <td class="w-6/12">  <input formControlName="employeeId" placeholder="" class="form-control outline-none border px-3 py-1 bg-gray-50">                        </td>
                    </tr>
                    
                </table>
            <br>
           
        </div> 
        <div class="save pl-10 " >
                    <button type="submit" class=" bg-gray-300" >አጠናቅ</button>
                </div>
    </div>
    </form>
  
  
</div>