
.all{
  height:340px;
}
h3{
  display: flex;
  align-items: center;

}

/*  


.form-group{
  width: 230px;
  border-radius: 5px;
 
  display: flex;
  align-items: center;
  cursor: pointer;
margin-bottom: 10px;
  color:#4343ff ;
}
input{
  
  outline: none;
  box-shadow: none;
  width: 100%;
} */
/* 
form{
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
 height: 1200px;
  display: inline-flex;
  flex-direction: column;
  background-color: #fff;
  width: auto;
} */
/* 
#save{
  display: flex;
 padding-top: 10px;
  align-items: center;
  column-gap: 30px;
 
}

.sub{
  padding-left: 50px;
  display: flex;
  justify-content: space-between;

}


/* td{
  font-size: 16px;
  font-weight: 400;
} */
label{
  font-weight: 500;
}

input{
   border-radius: 3px;
}
/* .btn-dialog-close{
  width: 50px;
  min-width: 0 !important;
  height: 50px;
  padding: 0 !important;


}
.btn-dialog-close:hover{
background-color: red;
color: #fff;
}
mat-toolbar{
background-color: whitesmoke;
color: red;
width: 100%;
border: black;
} */


button{
  border-radius: 5px;
  color: black;
  margin-right:30px;
 
}
mat-icon{
  font-size: 12px;
  align-items: center;
  color: red;

}
.table-header{
  color: black;
  column-gap: 30px;
  /* background-color: #fff; */
}
.card{
  background-color: #fff;
  align-items: center;
  margin-left: 150px;
}
mat-toolbar{
  width: auto;
  background-color: #fff;

}
h3{
  
}
.save{
  padding-left: 270px;
}