.all{
  background-color: #fff; 
}
      mat-toolbar{
      
        display: flex;
        justify-content: space-between;
        color: black;
  
        }
     
     span{
      color: black;
     }
  
      mat-menu{
          color:black ;
          padding-top: 40px;
          margin-top: 40px;
        }