
  <mat-toolbar class=" all bg-blue-300" >
    
    <button mat-icon-button (click)="menuClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    
    <div class="profile">
      <button class="m-10"><i class='bx bxl-messenger'></i></button>
      <button class=" m-10"><i class='bx bxs-bell-ring'></i></button>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #userMenu="matMenu" class="bg-white ">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_box</mat-icon>
        <span>profile</span>
      </button>
<button mat-menu-item (click)="logout()">
  <mat-icon>logout</mat-icon>
  <span>logout</span>
</button>
    </mat-menu>
  </mat-toolbar>
