
<mat-card class="mat-elevation-z8 p-14" >
<mat-card-content>
<div class="">
  <table class="mat-elevation-z8" mat-table matSort [dataSource]="ordersToDisplay" >
      <ng-container matColumnDef="መታወቅያ.ቁ">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>መታወቅያ.ቁ</b></th>
        <td mat-cell *matCellDef="let element">{{element.fId}}</td>
    </ng-container>
        <ng-container matColumnDef="ስም">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>ስም</b></th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
       
        <ng-container matColumnDef="የአባትስም">
            <th mat-header-cell *matHeaderCellDef> <b>የአባት ስም</b></th>
            <td mat-cell *matCellDef="let element">{{element.midleName}}</td>
        </ng-container>
        <ng-container matColumnDef="የአያትስም">
          <th mat-header-cell *matHeaderCellDef>  <b>የአያት ስም</b></th>
          <td mat-cell *matCellDef="let element">{{element.lastName }}</td>
      </ng-container>
     
        <ng-container matColumnDef="ፆታ">
            <th mat-header-cell *matHeaderCellDef> <b>ፆታ</b></th>
            <td mat-cell *matCellDef="let element">{{element.gender}}</td>
        </ng-container>
        <ng-container matColumnDef="የስራክፍል">
          <th mat-header-cell *matHeaderCellDef> <b>የስራክፍል</b> </th>
          <td mat-cell *matCellDef="let element">{{element.departmnt}}</td>
      </ng-container>
      <ng-container matColumnDef="ስልክ.ቁ">
        <th mat-header-cell *matHeaderCellDef> <b>ስልክ.ቁ</b></th>
        <td mat-cell *matCellDef="let element">{{element.phoneno}}</td>
    </ng-container>
    <ng-container matColumnDef="ማዕርግ">
      <th mat-header-cell *matHeaderCellDef> <b>ማዕርግማዕርግ</b></th>
      <td mat-cell *matCellDef="let element">{{element.level}}</td>
  </ng-container>
     
  <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width:15%"> Action</th>
            <td mat-cell *matCellDef="let element">
                <a mat-raised-button color="primary" (click)="EditProduct(element.code)" >Edit</a> |
                <a mat-raised-button color="accent" >Delete</a>
            </td>
        </ng-container> -->
        <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </table>
  </div>
  <mat-card-footer>

    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

</mat-card-footer>
</mat-card-content>
</mat-card>