
form{
  height: 1200px;
}
mat-toolbar{
    width: auto;
    background-color: #fff;
  
}
  mat-icon{
    color: red;
  }
  input{
    width: 90px;
    border: #fff;
}
h3{
    margin-left: 290px;
    padding: 10px;
}
h2{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
}
.card{
    background-color: #fff;
    align-items: center;
    margin-left: 150px;
}
button{
    border-radius: 5px;
    color: black;
    width: 90px;
    height: 30px;
   
}
