<div class="nav-items ">
  <div class="nav-item">
    <span routerLink="/home"> <i class='bx bx-home-alt-2 text-20'></i></span>
  </div>
  <div class="nav-item">
    <span routerLink="/dashboard/all"> ወጪ ትዕዛዝ</span>
  </div>
  <div class="nav-item">
 
    <span routerLink="/dashboard/getwithdroal">ወጪ የተደረጉ ንብረቶች</span>
  </div>
  <div class="nav-item">
    <span routerLink="/dashboard/store">መጋዘን ውስጥ ያሉ ንብረቶች</span>
  </div>
  <div class="nav-item">
   
    <span routerLink="/dashboard/chart">ሪፖርት</span>
  </div>
  <div class="nav-item">
    <!-- <fa-icon [icon]="faHand"></fa-icon> -->
    <span></span>
  </div>
</div>
