<div class="top-section">
  <app-common-device></app-common-device>
</div>
<div class="middle-section">
  <div class="widget left">
    <app-status-stored-material></app-status-stored-material>
  </div>
  <div class="widget right">
    <app-view-material-by-catagory></app-view-material-by-catagory>
  </div>
</div>
<div class="bottom-section">
  <div class="widget left">
    <app-last-few-transction></app-last-few-transction>
  </div>
  <div class="widget right">
    <app-returned-material></app-returned-material>
  </div>
</div>
