<!-- <div class="card ml-32 pt-20 bg-white  ">
    
    <div class="card-header">
        <h3>List of users</h3>
        <a class="btn btn-success" routerLink="/register">Add User [+]</a>
    </div>
<div class="card-body">
    <table class="table table-bordered">
        <thead class="bg-dark text-black bg-gray-200">
            <tr>
                <td class="px-6 py-3">firstName</td>
                <td class="px-6 py-3">lastName</td>
                <td class="px-6 py-3">userName</td>
                <td class="px-6 py-3">email</td>
                <td class="px-6 py-3"> password</td>
               
                
        </thead>
        <tbody>
<tr *ngFor="let item of adduser">
    <td class="px-6 py-3">{{item.firstName}}</td>
    <td class="px-6 py-3">{{item.lastName}}</td>
    <td class="px-6 py-3">{{item.userName}}</td>
    <td class="px-6 py-3">{{item. email}}</td>
    <td class="px-6 py-3">{{item. password}}</td>
    

</tr>
        </tbody>
    </table>

</div>
</div> -->
<div class="mat-elevation-z8 p-14">
  <table class="mat-elevation-z8" mat-table matSort [dataSource]="UserData" >
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> firstName</th>
        <td mat-cell *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> lastName</th>
            <td mat-cell *matCellDef="let element">{{element.lastName}}</td>
        </ng-container>
       
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef> userName</th>
            <td mat-cell *matCellDef="let element">{{element.userName}}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email</th>
          <td mat-cell *matCellDef="let element">{{element.email }}</td>
      </ng-container>
     
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> role</th>
            <td mat-cell *matCellDef="let element">{{element.role}}</td>
        </ng-container>
     
  <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="width:15%"> Action</th>
            <td mat-cell *matCellDef="let element">
                <a mat-raised-button color="primary" (click)="EditProduct(element.code)" >Edit</a> |
                <a mat-raised-button color="accent" >Delete</a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
        </mat-paginator>
    </table>
  </div>
