<!-- <div class="header">
    <div class="logo"><i class='bx bx-menu'></i></div>
    <div class="user">
      <div class="user-name">andualem </div>
      <div class="user-image">fp</div>
    </div>
  </div> -->
  <mat-toolbar class="all" >
    <button  mat-icon-button (click)="menuClicked.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    
   
    <div class="profile">  <button class="m-10 text-blue-950"><i class='bx bxl-messenger'></i></button>
      <!-- <span>
        hi,
        andu
      </span> -->
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
       
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #userMenu="matMenu" class="bg-white ">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>account_box</mat-icon>
        <span class="text-blue-950">profile</span>
      </button>
<button mat-menu-item (click)="logout()">
  <mat-icon>logout</mat-icon>
  <span class="text-blue-950">logout</span>
</button>

<!-- <button mat-menu-item routerLink="/login">
  <mat-icon>logout</mat-icon>
  <span>logout</span>
</button> -->
    </mat-menu>
  </mat-toolbar>
