<div class="all h-72">
    <mat-toolbar class="flex justify-end bg-white w-full">
        <button class="btn-dialog-close flex justify-center items-center pt-0 " mat-stroked-button (click)="onclose()" tabindex="-1">
            <mat-icon >close</mat-icon>
        </button>
      </mat-toolbar>
  <form class="container  bg-white w-full h-72" [formGroup]="returnform" (ngSubmit)="SaveInvoice()" >
 
    <div class="card items-center justify-center ml-40 pt-5 ">
        <div class="justify-center .m-24 items-center"><h3 ><u>ንብረቱን ወደ መጋዘን  ይመልሱ</u></h3></div>
  
        <div class="card-body items-center justify-center">
          
            <table>
                    <tr class="flex grid-cols-2 mb-2">
                        <td class="w-6/12"><label >የንብረቱ ሴሪያል.ቁ</label></td>
                        <td class="w-6/12"> <input placeholder=" " formControlName="productCode" class="form-control outline-none border px-3 py-1 bg-gray-50">
                        </td>
                    </tr>
                    <tr class="flex grid-cols-2 mb-2">
                        <td class="w-6/12">   <label >ብዛት</label></td>
                        <td class="w-6/12">  <input formControlName="quantity" placeholder="" class="form-control outline-none border px-3 py-1 bg-gray-50">                        </td>
                    </tr>
                    <tr class="flex grid-cols-2 ">
                        <td class="w-6/12">   <label >  የሰራተኛው መለያ.ቁ</label></td>
                        <td class="w-6/12">  <input formControlName="employeeId" placeholder="" class="form-control outline-none border px-3 py-1 bg-gray-50">                        </td>
                    </tr>
                    
                </table>
            <br>
           
        </div> 
        <div class="save pl-20 mt-5 " >
                    <button type="submit" class=" bg-gray-300" >አጠናቅ</button>
                </div>
    </div>
    </form>
  
  
</div>
