<!-- <div class="container bg-gray-300">
  <div class="header bg-white">
    <app-admin-header></app-admin-header>
  </div>
  <div class="main-container">
    <div class="side-nav mb-2  mat-elevation-z6" mode="side" #sidenav opened>
      <app-admin-sidenav></app-admin-sidenav>
    </div>
    <div class="main bg-gray-300">
      <app-admin-main></app-admin-main>
    </div>
  </div>
</div> -->

<div class="container bg-gray-300">
  <div class="header bg-white">
    <app-admin-header></app-admin-header>
  </div>
  <div class="main-container">
    <div class="side-nav mb-2  mat-elevation-z6" mode="side" #sidenav opened>
      <app-admin-sidenav></app-admin-sidenav>
    </div>
    <div class="main bg-whit bg-gray-300 ml-5 mt-5 pr-10 pb-10 " >
    <!-- <router-outlet></router-outlet> -->
<app-admin></app-admin>
    </div>
  
  </div>
  </div>
  
